.productsdetail_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;



    .inventory_container {
        // margin: rem 0;
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: 'Outfit', sans-serif !important;
        overflow-y: scroll;
        box-sizing: border-box;

        .filter_box {
            display: flex;
            gap: 1rem;
        }

        .detail_container {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .detail_box {
                width: -webkit-fill-available;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                height: 362px;
                background-color: #FFFFFF;
                border: 1px solid #DBDBDB;
                box-shadow: 0px 8px 12px rgba(67, 73, 79, 0.12);
                border-radius: 12px;
                padding: 2rem;
                align-items: center;

            }
        }
    }

}